.who {
    text-align: center;
    h2 {
        margin: 1rem;
        font-size: 3rem;
        color: #f4e04d;
        -webkit-text-stroke: 1px black;
    }
    img {
        height: 800px;
        width: 800px;
        border-radius: 15px;
    }
}

.join {
    text-align: center;
    h2 {
        margin: 1rem;
        font-size: 3rem;
        color: #f4e04d;
        -webkit-text-stroke: 1px black;
    }
    img {
        height: 250x;
        width: 475px;
        border-radius: 15px;
    }
}

.popup {
    text-align: center;
    margin: 1rem auto;
}